.team-section {
  
    padding: 20px 0;
    text-align: center;
    
  }
  .team-section::after {
    content: "";
    display: table;
    clear: both;
}
  
  .team-section h2 {
    color: #03045E;
    font-size: 55px;
    margin-bottom: 20px;
  }
  .team-section p{
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
    color: #03045E;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
  }
  .team-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
  
  .team-member {
    background-color: #219ebc;
    color: #03045E;
    margin: 15px;
    padding: 20px;
    width: 280px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .team-member p {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
  }
  
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .team-container {
      flex-direction: column;
    }
  
    .team-member {
      width: 90%;
      margin: 10px auto;
    }
  }